<header>
    <div class="top">
        <ul class="top">
            <li><a class="logo" href="/">MOVIEMAGIC</a></li>
            <li><input class="search" type="text"></li>
            <li class="searchButt">Search</li>
        </ul>
    </div>
    <div class="filter">
        <ul>
            <li>Action</li>
            <li>Crime</li>
            <li>Comedy</li>
            <li>Drama</li>
            <li>Horrror</li>
            <li>Music</li>
        </ul>
    </div>
</header>