<header>
    <div class="top">
        <ul class="top">
            <li><a class="logo" href="/">MOVIEMAGIC</a></li>
            <form action="/" method="POST">
                
                    <input name="field" id="input" class="search" type="text">
                    <input type="submit" class="searchButt" value="Search">
                
            </form>

            <!-- <a href="/search" class="searchButt" onclick="search()">Search</a> -->
        </ul>
    </div>
    <div class="filter">
        <ul>
            <li>Action</li>
            <li>Crime</li>
            <li>Comedy</li>
            <li>Drama</li>
            <li>Horrror</li>
            <li>Music</li>
        </ul>
    </div>
</header>