<div class="pagination">
    <a href="#">&laquo;</a>
    <a href="1" class="active">1</a>
    <a href="2" >2</a>
    <a href="3">3</a>
    <a href="4">4</a>
    <a href="5">5</a>
    <a href="6">6</a>
    <a href="#">&raquo;</a>
  </div>