<div class="cards">
    <% results.forEach((article)=> { %>
        <div class="card">
            <img src=<%= 'https://image.tmdb.org/t/p/w500'+ article.poster_path %> alt="<%= article.title %>">
            <p>
                <%= article.title %>
            </p>
        </div>
    <% }) %>
</div>

