<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Magic</title>
    <link rel="stylesheet" href="../../assets/styles/style.css">
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <%- include('partials/results.ejs') %>
        <div class="pageNums">
        <%- include('partials/pagination.ejs') %>        
        </div>
    </main>
</body>
</html>